@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-thai text-slate-800 bg-white;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f3f5;
}
::-webkit-scrollbar-thumb {
  background: #cfd4d9;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5e6266;
}
